.about{
    width:90%;
    max-width:1300px;
    margin:20px auto 0;
    padding:20px 0 20px;
    text-align:center;
    background:#f4f7fb;
}
.about h2{
    font-size:44px;
    font-weight:700;
    color:#111827;
    margin-bottom:20px;
}

.about p{
    max-width:850px;
    margin:0 auto;
    font-size:18px;
    line-height:1.8;
    color:#64748b;
}

@media(max-width:992px){

    .about{
        width:90%;
        padding-bottom:60px;
    }

    .about h2{
        font-size:38px;
    }

    .about p{
        font-size:17px;
    }

}

@media(max-width:768px){

    .about{
        width:95%;
        padding:0 20px 50px;
    }

    .about h2{
        font-size:30px;
    }

    .about p{
        font-size:16px;
        line-height:1.7;
    }

}